.section1-wrapper .text > h1 {
  font-family: "Baloo Bhai", cursive;
  font-size: 80px;
  line-height: 1;
  padding-top: 0;
}

.section1-wrapper .text {
  margin: 4rem;
}
.section1-wrapper .text p {
  text-align: justify;
}
a {
  color: var(--blue);
  font-weight: bold;
}
.center {
  text-align: center;
}

h3,
p {
  text-align: center;
}
p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
h3 {
  font-size: 2.5rem;
  font-family: "Baloo Bhai", cursive;
  line-height: 1;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

li {
  list-style-position: inside;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .section1-wrapper .text > h1 {
    font-size: 3rem;
  }
  .section1-wrapper .text > h3 {
    font-size: 2rem;
  }
  .section1-wrapper .text {
    margin: 1rem;
  }
}
