/*
* 1. Custom fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@font-face {
  font-family: "Athelas";
  src: url("../fonts/athelas-cufonfonts/Athelas-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Athelas";
  src: url("../fonts/athelas-cufonfonts/Athelas-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Baloo Bhai";
  src: url("../fonts/Baloo_Bhai/BalooBhai-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Baloo Bhai";
  src: url("../fonts/Baloo_Bhai/");
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad-pro-cufonfonts/MYRIADPRO-BOLD.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Apple Chancery";
  src: url("../fonts/Apple-Chancery/Apple-Chancery.ttf");
  font-weight: 400;
  font-style: normal;
}

/*
* 2. common styles
*/
:root {
  --blue: #06087f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 34px;
  margin: 0;
}

a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .banner {
    /* height: 100vh;
    height: calc(100vh + 100px); */
    background-image: url("../images/design1.png"), url("../images/design2.png");
    background-repeat: no-repeat no-repeat;
    background-position: 9% 300px, 130% 177%;
    background-repeat: no-repeat;
    background-size: 38%;
  }
}

/* Navigation styles */
@media (min-width: 968px) {
  .site-header {
    background-image: url("../images/header-wave.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    padding-bottom: 100px;
  }
}
/*Navigation menu styling*/

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.logo span a {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: #b89051;
  padding: 20px 30px;
}
.item {
  padding: 10px;
}

.item a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu li a {
  display: block;
  padding: 15px 5px;
  font-size: 25px;
  font-family: "Apple Chancery", cursive;
  font-weight: bold;
  color: #b89051;
}

.menu .toggle {
  order: 1;
  font-size: 30px !important;
  padding: 15px;
  padding-left: 0;
}
.fa,
.fas {
  font-weight: 900;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active {
  background-color: var(--blue);
}
.active .item {
  display: block;
  border-radius: 20px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }

  .toggle {
    text-align: right;
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    padding-right: 50px;
    padding-top: 35px;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    align-self: start;
  }

  .toggle {
    display: none;
  }
}
.logo .logo-text {
  font-size: 64px;
  font-family: "Athelas", sans-serif;
  color: #b89051;
  line-height: 1;
  padding: 0;
}
.logo .subtitle {
  font-size: 36px;
  line-height: 1;
  font-family: "Athelas", sans-serif;
  color: #b89051;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 700px) {
  .logo .logo-text {
    font-size: 32px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
  }
  .logo .subtitle {
    font-size: 22px;
  }
  .logo img {
    width: 70px;
  }
}

.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 80px;
}
@media (min-width: 900px) {
  .hero-wrapper > * {
    flex-wrap: 1;
    width: 50%;
  }

  .section2-wrapper > * {
    flex-wrap: 1;
    width: 50%;
  }
}

.hero-wrapper .hero-img {
  padding: 3vw;
}

@media (max-width: 758px) {
  .hero-wrapper {
    display: block;
  }
  .hero-wrapper > * {
    margin: 0 auto;
  }
  .hero-wrapper .hero-img {
    padding: 40px;
  }
}
.hero-wrapper .hero-img img {
  max-width: 100%;
}

.hero-wrapper .hero-text .title {
  font-size: 70px;
  font-family: "Baloo Bhai", cursive;
  color: var(--blue);
  line-height: 1;
  margin: 0;
  padding: 20px;
}
.hero-wrapper .hero-btn-wrapper .btn {
  display: inline-block;
  background-color: var(--blue);
  font-size: 18px;
  border-radius: 15px;
  margin: 10px;
  width: 220px;
}
.hero-wrapper .hero-btn-wrapper a {
  text-decoration: none;
  color: white;
  font-size: inherit;
  padding: 0px 40px;
}
.hero-wrapper .hero-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: var(--blue);
  font-weight: bold;
  padding: 0 35px;
}

/* Section 1*/
.section1-wrapper {
  background-image: url("../images/pattern-blue.jpg");
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.section1-wrapper .text {
  position: relative;
  display: inline-block;
}
.section1-wrapper .text img {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  height: 80px;
}
.section1-wrapper .text > h2 {
  font-family: "Baloo Bhai", cursive;
  font-size: 64px;
  margin: 0;
  line-height: 1;
  padding-top: 64px;
}

.section1-wrapper .text > p {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.section1-wrapper .card-box {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.section1-wrapper .card-box .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 40px;
}
.section1-wrapper .card-box .card img {
  border-radius: 50%;
  max-width: 100%;
}
.section1-wrapper .card-box .card .title {
  font-family: "Baloo Bhai", cursive;
  font-size: 28px;
}
.section1-wrapper .card-box .card .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.card-box .img-wrapper {
  background-image: url("../images/card-bg.png");
  background-repeat: no-repeat;
  padding: 20px;
  padding-left: 22px;
  background-size: contain;
}

/* section 2*/
.section2-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.section2-wrapper .section-content {
  padding: 40px;
  text-align: left;
}
.section2-wrapper .section-content h2 {
  font-family: "Baloo Bhai", cursive;
  font-size: 48px;
  color: var(--blue);
  line-height: 1;
}
.section2-wrapper .section-content p {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: var(--blue);
}

.section-content .btn {
  display: inline-block;
  background-color: var(--blue);
  font-family: "Baloo Bhai", cursive;
  font-size: 18px;
  color: #b89051;
  padding: 6px 42px;
}
.section-content .btn a {
  text-decoration: none;
  color: #b89051;
}
.section-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}
.section-images .content-1 img,
.section-images .content-2 img {
  display: block;
  height: 300px;
  width: 100%;
}
.section-images .content-1,
.section-images .content-2 {
  position: relative;
}
.section-images .text-box,
.section-images .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  color: var(--blue);
}

.section-images .text-box .title {
  font-family: "Baloo Bhai", cursive;
  font-size: 42px;
}
.section-images .text-box .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
#section-3 .card-box .img-wrapper {
  background: none;
}
#section-3 .section1-wrapper .card-box .card img {
  border-radius: 0;
}
#section-3 .section1-wrapper .card-box .card {
  background-color: white;
  border-radius: 10px;
}
#section-3 .section1-wrapper .card-box .card {
  color: var(--blue);
  margin-bottom: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #b89051;
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  font-weight: bold;
}

.card button:hover {
  opacity: 0.9;
}

/*Section 4*/
#section-4 .section1-wrapper {
  background-image: url("../images/section-4-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#section-4 .section1-wrapper .text {
  background-image: none;
}
#section-4 .section1-wrapper {
  color: var(--blue);
}
#section-4 .card-box .img-wrapper {
  background-image: none;
}
#section-4 .section1-wrapper .card-box .card {
  box-shadow: none;
}
#section-4 .section1-wrapper {
  padding-bottom: 30px;
}

/*section 5*/
#section-5 .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#section-5 .img-wrapper .image {
  padding: 10px 30px;
}

/* Footer wrapper */
.footer {
  background-image: url("../images/footer-wave.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer .footer-wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #06087f;
  padding: 50px;
}
.footer-wraper .column {
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}
.footer .footer-wraper h2 {
  font-family: "Baloo Bhai", cursive;
  margin: 0;
  font-size: 22px;
}
.footer .footer-wraper p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 16px;
}
.copyright {
  text-align: center;
  font-family: "Baloo Bhai", cursive;
  font-weight: bold;
  color: var(--blue);
}
/* Responsive styles */
/* Responsive navigation */
.nav-toggle {
  display: none;
}
.mobile-navbar {
  display: none;
}

@media (max-width: 992px) {
  .nav-toggle {
    display: inline-block;
    border: 0;
    cursor: pointer;
  }
  .mobile-navbar {
    display: flex;
    flex-direction: column;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 24px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -7px);
  }
  .nav-toggle-box {
    width: 27px;
    height: 20px;
  }
  .nav-toggle-inner,
  .nav-toggle-inner:after,
  .nav-toggle-inner:before {
    width: 24px;
    height: 4px;
    background-color: #fff;
    transition: transform ease 0.15s;
    border-radius: 10px;
  }
}
.footer .footer-wraper a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 16px;
  color: var(--blue);
}
/* Responsive design */
@media only screen and (max-width: 768px) {
  .site-header {
    background-image: none;
    background-color: var(--blue);
    height: auto;
  }
  .logo .logo-text {
    font-size: 48px;
  }
  .logo .subtitle {
    font-size: 24px;
  }
  .hero-wrapper .hero-text .title {
    font-size: 48px;
  }
  .hero-wrapper .hero-text p {
    padding: 0 15px;
  }
  .section1-wrapper .text > h2 {
    font-size: 28px;
    padding-bottom: 16px;
  }
  .section1-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section1-wrapper .text > p {
    font-size: 16px;
    padding-top: 20px;
  }
  .section1-wrapper .text img {
    display: none;
  }
  .section1-wrapper .card-box .card .title {
    font-size: 20px;
  }
  .section1-wrapper .card-box .card .subtitle {
    font-size: 14px;
  }
  .section2-wrapper .section-content h2 {
    font-size: 32px;
  }
  .section2-wrapper .section-content p {
    font-size: 18px;
  }
  .section2-wrapper .section-content {
    text-align: center;
  }
  .section-images .text-box .title {
    font-size: 30px;
  }
  .section-images .text-box .subtitle {
    font-size: 18px;
  }
  #section-5 .section1-wrapper .text img {
    display: block;
  }
  .footer .footer-wraper {
    padding-bottom: 0;
  }
  .footer .footer-wraper {
    padding: 0;
    padding-top: 58px;
  }
  .footer-wraper .column {
    margin-top: 35px;
  }
}

@media (max-width: 576px) {
  .section2-wrapper .section-content {
    padding: 20px;
  }
  .menu {
    padding-right: 0;
  }
  .footer-wraper .column {
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 344px) {
  .menu {
    padding-right: 0;
    padding-left: 7px;
  }
}

@media only screen and (max-width: 960px) {
  .site-header {
    background-image: none;
    background-color: #06083d;
    height: auto;
  }
}
@media (max-width: 769px) {
  .site-header {
    padding-bottom: 0px;
  }
}
