#section-1 .section1-wrapper {
  background-image: none !important;
  color: var(--blue);
}
.section1-wrapper .card-box .card {
  box-shadow: none;
}
.section1-wrapper .card-box .card .title {
  padding-top: 0;
}

.section1-wrapper .text .team-title {
  font-size: 70px;
  font-family: "Baloo Bhai", cursive;
  color: var(--blue);
  line-height: 1;
  margin: 0;
  padding: 0px;
  padding-top: 64px;
  padding-bottom: 48px;
}
@media only screen and (max-width: 768px) {
  .section1-wrapper .text .team-title {
    font-size: 48px;
  }
}

.section1-wrapper .card-box .card .subtitle {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.card-box .img-wrapper {
  background-position: 50%;
}
.section1-wrapper .card-box .card img {
  border: 4px solid #669999;
}
.section1-wrapper .card-box {
  padding-bottom: 0;
  padding-top: 0;
}
.section1-wrapper .card-box .card {
  max-width: 43vw;
  margin-bottom: 0;
  margin-top: 0;
}
@media (max-width: 576px) {
  .section1-wrapper .card-box .card {
    max-width: 100%;
  }
}
.section1-wrapper .card-box .card img {
  width: 225px;
  margin: 0 auto;
}
/* @media (min-width: 576px) {
  .section1-wrapper .card-box .card img {
    width: 225px;
  }
} */
/* #section-1 .section1-wrapper .text > h2 {
  padding-top: 0;
} */
.section1-wrapper .card-box {
  padding-top: 0;
}
@media only screen and (min-width: 960px) {
  #section-1 .section1-wrapper .text > h2 {
    margin-top: -30px;
    padding-top: 0;
  }

  .card-box .img-wrapper {
    padding-bottom: 0;
  }
}
